@import "tailwindcss";

/* clerk user button adjust  */

.cl-avaterBox {
    width: 3rem;
    height: 3rem;
}

/* slider arrows  */
.arrows {
    height: 40px;
    width: 40px;
    margin: 1px;
}

/* input colors  */
input {
    background-color: #fff;
    accent-color: red;
    border: 1px solid #ccc;
    color: #333;
}